.footer{
    background-color: rgb(255, 123, 0);
    display: flex;
    justify-content: space-around;
    padding: 30px;
    div > ul > li{
        list-style: none;
        margin-top: 20px;
        margin-bottom: 20px;
        color: black;
    } 
    div > ul > a{
        color: black;
        list-style: none;
        text-decoration: none;
    }
    div > a > img{
        margin: 30px;
        width: 30px; 
        height: 30px;
    }
    div > iframe{
        width: 400px;
        height: 200px;
        border-radius: 10px;
        border: solid 2px;
    }
    .redes{
        display: flex;
        justify-content: space-around;
        .wsp{
            display: flex;
        img, p {
            width: 30px;
            height: 30px;
            margin-top: 30px; 
            margin-right: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            }
        }   
    }
    

}