.navbar{
    .container-fluid{
        background-color: rgb(255, 123, 0);
        .navbar-nav{
            background-color: rgb(255, 123, 0);
            .nav-item{
                font-size: 30px;
            }
        }
    }
}